In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
os.getcwd()

/Users/amandarichards25/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

'/Users/amandarichards25/Documents/GitHub/Auto_project'

Creating dataframes for the tables within the project- AD and AD (Extra) have the same information provided and AD (Extra) will be used in this project. 
Basic Table 
Sales
Trim 
Price
Ad*
Ad (Extra)

In [4]:
data_basic = pd.read_csv("/Users/amandarichards25/Documents/GitHub/Auto_project/tables_V2/Basic_table.csv")
data_basic.head()
data_basic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1011 entries, 0 to 1010
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Automaker     1011 non-null   object
 1   Automaker_ID  1011 non-null   int64
 2   Genmodel      1011 non-null   object
 3   Genmodel_ID   1011 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.7+ KB

In [5]:
sales = pd.read_csv("/Users/amandarichards25/Documents/GitHub/Auto_project/tables_V2/Sales_table.csv")
print(sales.head())
print(sales.info())

    Maker      Genmodel Genmodel_ID  2020  2019  2018  2017  2016  2015  2014  \
0  ABARTH    ABARTH 124         2_1     0    19    27    60     0     0     0
1  ABARTH    ABARTH 500         2_2     0     0     1     2    66   717   762
2  ABARTH    ABARTH 595         2_4  2144  2866  3907  3295  3132  1612   516
3  ABARTH    ABARTH 695         2_6    45    65   270   114    29    10    14
4  ABARTH  ABARTH PUNTO         2_9     0     0     0     0     0     0    56

   ...  2010  2009  2008  2007  2006  2005  2004  2003  2002  2001
0  ...     0     0     0     0     0     0     0     0     0     0
1  ...   915   766     0     0     0     0     0     0     0     0
2  ...     0     0     0     0     0     0     0     0     0     0
3  ...     0     0     0     0     0     0     0     0     0     0
4  ...    97   172    74     0     0     0     0     0     0     0

[5 rows x 23 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 773 entries, 0 to 772
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Maker        773 non-null    object
 1   Genmodel     773 non-null    object
 2   Genmodel_ID  773 non-null    object
 3   2020         773 non-null    int64
 4   2019         773 non-null    int64
 5   2018         773 non-null    int64
 6   2017         773 non-null    int64
 7   2016         773 non-null    int64
 8   2015         773 non-null    int64
 9   2014         773 non-null    int64
 10  2013         773 non-null    int64
 11  2012         773 non-null    int64
 12  2011         773 non-null    int64
 13  2010         773 non-null    int64
 14  2009         773 non-null    int64
 15  2008         773 non-null    int64
 16  2007         773 non-null    int64
 17  2006         773 non-null    int64
 18  2005         773 non-null    int64
 19  2004         773 non-null    int64
 20  2003         773 non-null    int64
 21  2002         773 non-null    int64
 22  2001         773 non-null    int64
dtypes: int64(20), object(3)
memory usage: 139.0+ KB
None

In [6]:
trim = pd.read_csv("/Users/amandarichards25/Documents/GitHub/Auto_project/tables_V2/Sales_table.csv")
print(trim.head())
trim.info()

    Maker      Genmodel Genmodel_ID  2020  2019  2018  2017  2016  2015  2014  \
0  ABARTH    ABARTH 124         2_1     0    19    27    60     0     0     0
1  ABARTH    ABARTH 500         2_2     0     0     1     2    66   717   762
2  ABARTH    ABARTH 595         2_4  2144  2866  3907  3295  3132  1612   516
3  ABARTH    ABARTH 695         2_6    45    65   270   114    29    10    14
4  ABARTH  ABARTH PUNTO         2_9     0     0     0     0     0     0    56

   ...  2010  2009  2008  2007  2006  2005  2004  2003  2002  2001
0  ...     0     0     0     0     0     0     0     0     0     0
1  ...   915   766     0     0     0     0     0     0     0     0
2  ...     0     0     0     0     0     0     0     0     0     0
3  ...     0     0     0     0     0     0     0     0     0     0
4  ...    97   172    74     0     0     0     0     0     0     0

[5 rows x 23 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 773 entries, 0 to 772
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Maker        773 non-null    object
 1   Genmodel     773 non-null    object
 2   Genmodel_ID  773 non-null    object
 3   2020         773 non-null    int64
 4   2019         773 non-null    int64
 5   2018         773 non-null    int64
 6   2017         773 non-null    int64
 7   2016         773 non-null    int64
 8   2015         773 non-null    int64
 9   2014         773 non-null    int64
 10  2013         773 non-null    int64
 11  2012         773 non-null    int64
 12  2011         773 non-null    int64
 13  2010         773 non-null    int64
 14  2009         773 non-null    int64
 15  2008         773 non-null    int64
 16  2007         773 non-null    int64
 17  2006         773 non-null    int64
 18  2005         773 non-null    int64
 19  2004         773 non-null    int64
 20  2003         773 non-null    int64
 21  2002         773 non-null    int64
 22  2001         773 non-null    int64
dtypes: int64(20), object(3)
memory usage: 139.0+ KB

In [7]:
price = pd.read_csv("/Users/amandarichards25/Documents/GitHub/Auto_project/tables_V2/Price_table.csv")
price.info()
print(price.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6333 entries, 0 to 6332
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Maker        6333 non-null   object
 1   Genmodel     6333 non-null   object
 2   Genmodel_ID  6333 non-null   object
 3   Year         6333 non-null   int64
 4   Entry_price  6333 non-null   int64
dtypes: int64(2), object(3)
memory usage: 247.5+ KB
    Maker    Genmodel Genmodel_ID  Year  Entry_price
0  Abarth  124 Spider         2_1  2016        29365
1  Abarth  124 Spider         2_1  2017        26665
2  Abarth  124 Spider         2_1  2018        26665
3  Abarth  124 Spider         2_1  2019        29515
4  Abarth         500         2_2  2009        13400

In [8]:
price.describe()

             Year    Entry_price
count  6333.00000    6333.000000
mean   2009.36523   29400.553134
std       6.01546   39314.089694
min    1998.00000    4499.000000
25%    2004.00000   12310.000000
50%    2010.00000   17815.000000
75%    2014.00000   27455.000000
max    2021.00000  320120.000000

In [9]:
adex = pd.read_csv("/Users/amandarichards25/Documents/GitHub/Auto_project/tables_V2/Ad_table (extra).csv")
adex.head()

,Maker,Genmodel,Genmodel_ID,Adv_ID,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,...,Engine_power,Annual_Tax,Wheelbase,Height,Width,Length,Average_mpg,Top_speed,Seat_num,Door_num
0,Bentley,Arnage,10_1,10_1$$1,2018,4,Silver,2000.0,Saloon,60000,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
1,Bentley,Arnage,10_1,10_1$$2,2018,6,Grey,2002.0,Saloon,44000,...,450.0,315,3116.0,1515.0,2125.0,5390.0,13.7 mpg,179 mph,5.0,4.0
2,Bentley,Arnage,10_1,10_1$$3,2017,11,Blue,2002.0,Saloon,55000,...,400.0,315,3116.0,1515.0,2125.0,5390.0,14.7 mpg,155 mph,5.0,4.0
3,Bentley,Arnage,10_1,10_1$$4,2018,4,Green,2003.0,Saloon,14000,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
4,Bentley,Arnage,10_1,10_1$$5,2017,11,Grey,2003.0,Saloon,61652,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0

In [10]:
adex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268255 entries, 0 to 268254
Data columns (total 24 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Maker         268255 non-null  object
 1    Genmodel     268255 non-null  object
 2    Genmodel_ID  268255 non-null  object
 3   Adv_ID        268255 non-null  object
 4   Adv_year      268255 non-null  int64
 5   Adv_month     268255 non-null  int64
 6   Color         246380 non-null  object
 7   Reg_year      268248 non-null  float64
 8   Bodytype      267301 non-null  object
 9   Runned_Miles  267200 non-null  object
 10  Engin_size    266191 non-null  object
 11  Gearbox       268088 non-null  object
 12  Fuel_type     267846 non-null  object
 13  Price         267110 non-null  float64
 14  Engine_power  236444 non-null  float64
 15  Annual_Tax    221580 non-null  object
 16  Wheelbase     240257 non-null  float64
 17  Height        240454 non-null  float64
 18  Width         240175 non-null  float64
 19  Length        240454 non-null  float64
 20  Average_mpg   226322 non-null  object
 21  Top_speed     224653 non-null  object
 22  Seat_num      261781 non-null  float64
 23  Door_num      263702 non-null  float64
dtypes: float64(9), int64(2), object(13)
memory usage: 49.1+ MB

In [11]:
adex['Maker'].nunique()
adex.describe()

,Adv_year,Adv_month,Reg_year,Price,Engine_power,Wheelbase,Height,Width,Length,Seat_num,Door_num
count,268255.000000,268255.000000,268248.000000,2.671100e+05,236444.000000,240257.000000,240454.000000,240175.000000,240454.000000,261781.000000,263702.000000
mean,2018.127778,5.626143,2012.708430,1.475626e+04,150.545834,2564.547056,1530.675081,1896.004559,4370.987129,4.904306,4.371594
std,0.747476,2.091577,4.465705,3.232091e+04,84.476285,490.002254,163.947099,150.998397,423.411068,0.877934,1.009339
min,2012.000000,1.000000,1900.000000,1.000000e+02,17.000000,0.000000,0.000000,1191.000000,0.000000,1.000000,0.000000
25%,2018.000000,4.000000,2010.000000,4.990000e+03,99.000000,2511.000000,1456.000000,1780.000000,4081.000000,5.000000,4.000000
50%,2018.000000,5.000000,2014.000000,9.299000e+03,128.000000,2640.000000,1494.000000,1884.000000,4385.000000,5.000000,5.000000
75%,2018.000000,7.000000,2016.000000,1.715000e+04,175.000000,2752.000000,1624.000000,2020.000000,4672.000000,5.000000,5.000000
max,2021.000000,33.000000,2019.000000,9.999999e+06,740.000000,5246.000000,2660.000000,2690.000000,6165.000000,17.000000,7.000000

In [12]:
def clean_dataframe(df):
    # Drop rows with any missing values
    df = df.dropna()

    # Remove duplicate rows
    df = df.drop_duplicates()

    # Convert data types if necessary
    # For example, converting ID column to integer type
    if 'ID' in df.columns:
        df['ID'] = df['ID'].astype(int)

    return df

# Clean multiple DataFrames
def clean_multiple_dataframes(*dfs):
    cleaned_dfs = []
    for df in dfs:
        cleaned_dfs.append(clean_dataframe(df))
    return cleaned_dfs

# Clean DataFrames
cleaned_data_basic, cleaned_sales, cleaned_price, cleaned_trim, cleaned_adex = clean_multiple_dataframes(data_basic, sales, price, trim, adex)

# Display the cleaned DataFrames
print("Cleaned data_basic:")
print(cleaned_data_basic)

print("\nCleaned sales:")
print(cleaned_sales)

print("\nCleaned price:")
print(cleaned_price)

print("\nCleaned trim:")
print(cleaned_trim)

print("\nCleaned adex:")
print(cleaned_adex)

Cleaned data_basic:
      Automaker  Automaker_ID    Genmodel Genmodel_ID
0            AC             1       Cobra         1_1
1        Abarth             2  124 Spider         2_1
2        Abarth             2         500         2_2
3        Abarth             2        500C         2_3
4        Abarth             2         595         2_4
...         ...           ...         ...         ...
1006  Westfield            97          XI        97_2
1007     Yamaha            98   Yxz 1000r        98_1
1008      Zenos            99         E10        99_1
1009      Acura           100          TL       100_1
1010     Alpine           101        A110       101_1

[1011 rows x 4 columns]

Cleaned sales:
      Maker      Genmodel Genmodel_ID   2020   2019   2018   2017   2016  \
0    ABARTH    ABARTH 124         2_1      0     19     27     60      0
1    ABARTH    ABARTH 500         2_2      0      0      1      2     66
2    ABARTH    ABARTH 595         2_4   2144   2866   3907   3295   3132
3    ABARTH    ABARTH 695         2_6     45     65    270    114     29
4    ABARTH  ABARTH PUNTO         2_9      0      0      0      0      0
..      ...           ...         ...    ...    ...    ...    ...    ...
768   VOLVO    VOLVO XC40       96_20  24281  14894   6616      8      0
769   VOLVO    VOLVO XC60       96_16   7694  11182  10840  14994  14808
770   VOLVO    VOLVO XC70       96_17      0      0      0     17   1006
771   VOLVO    VOLVO XC90       96_18   4969   7495   6475   5564   5254
772   ZENOS     ZENOS E10        99_1      0      0      0      2     10

      2015  2014  ...  2010  2009  2008  2007  2006  2005  2004  2003  2002  \
0        0     0  ...     0     0     0     0     0     0     0     0     0
1      717   762  ...   915   766     0     0     0     0     0     0     0
2     1612   516  ...     0     0     0     0     0     0     0     0     0
3       10    14  ...     0     0     0     0     0     0     0     0     0
4        0    56  ...    97   172    74     0     0     0     0     0     0
..     ...   ...  ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
768      0     0  ...     0     0     0     0     0     0     0     0     0
769  12830  9102  ...  4548  3373   308     0     0     0     0     0     0
770   1586  1710  ...  1447  1067  1059  1423  1347  1524   963   626   119
771   2756  2319  ...  6392  3633  1879  3232  3547  4614  3901  1507     0
772      7     0  ...     0     0     0     0     0     0     0     0     0

     2001
0       0
1       0
2       0
3       0
4       0
..    ...
768     0
769     0
770     0
771     0
772     0

[773 rows x 23 columns]

Cleaned price:
       Maker    Genmodel Genmodel_ID  Year  Entry_price
0     Abarth  124 Spider         2_1  2016        29365
1     Abarth  124 Spider         2_1  2017        26665
2     Abarth  124 Spider         2_1  2018        26665
3     Abarth  124 Spider         2_1  2019        29515
4     Abarth         500         2_2  2009        13400
...      ...         ...         ...   ...          ...
6328   Volvo         V50        96_9  2008        15780
6329   Volvo         V50        96_9  2009        15770
6330   Volvo         V50        96_9  2010        17465
6331   Volvo         V50        96_9  2011        17615
6332   Volvo         V50        96_9  2012        19375

[6333 rows x 5 columns]

Cleaned trim:
      Maker      Genmodel Genmodel_ID   2020   2019   2018   2017   2016  \
0    ABARTH    ABARTH 124         2_1      0     19     27     60      0
1    ABARTH    ABARTH 500         2_2      0      0      1      2     66
2    ABARTH    ABARTH 595         2_4   2144   2866   3907   3295   3132
3    ABARTH    ABARTH 695         2_6     45     65    270    114     29
4    ABARTH  ABARTH PUNTO         2_9      0      0      0      0      0
..      ...           ...         ...    ...    ...    ...    ...    ...
768   VOLVO    VOLVO XC40       96_20  24281  14894   6616      8      0
769   VOLVO    VOLVO XC60       96_16   7694  11182  10840  14994  14808
770   VOLVO    VOLVO XC70       96_17      0      0      0     17   1006
771   VOLVO    VOLVO XC90       96_18   4969   7495   6475   5564   5254
772   ZENOS     ZENOS E10        99_1      0      0      0      2     10

      2015  2014  ...  2010  2009  2008  2007  2006  2005  2004  2003  2002  \
0        0     0  ...     0     0     0     0     0     0     0     0     0
1      717   762  ...   915   766     0     0     0     0     0     0     0
2     1612   516  ...     0     0     0     0     0     0     0     0     0
3       10    14  ...     0     0     0     0     0     0     0     0     0
4        0    56  ...    97   172    74     0     0     0     0     0     0
..     ...   ...  ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
768      0     0  ...     0     0     0     0     0     0     0     0     0
769  12830  9102  ...  4548  3373   308     0     0     0     0     0     0
770   1586  1710  ...  1447  1067  1059  1423  1347  1524   963   626   119
771   2756  2319  ...  6392  3633  1879  3232  3547  4614  3901  1507     0
772      7     0  ...     0     0     0     0     0     0     0     0     0

     2001
0       0
1       0
2       0
3       0
4       0
..    ...
768     0
769     0
770     0
771     0
772     0

[773 rows x 23 columns]

Cleaned adex:
          Maker  Genmodel  Genmodel_ID     Adv_ID  Adv_year  Adv_month  \
1       Bentley    Arnage         10_1    10_1$$2      2018          6
2       Bentley    Arnage         10_1    10_1$$3      2017         11
5       Bentley    Arnage         10_1    10_1$$6      2017         12
11      Bentley    Arnage         10_1   10_1$$12      2018          6
13      Bentley    Arnage         10_1   10_1$$14      2018          7
...         ...       ...          ...        ...       ...        ...
268245    Volvo       V50         96_9  96_9$$522      2018          7
268246    Volvo       V50         96_9  96_9$$523      2018          8
268247    Volvo       V50         96_9  96_9$$524      2018          5
268248    Volvo       V50         96_9  96_9$$525      2018          5
268249    Volvo       V50         96_9  96_9$$526      2018          1

         Color  Reg_year Bodytype Runned_Miles  ... Engine_power Annual_Tax  \
1         Grey    2002.0   Saloon        44000  ...        450.0        315
2         Blue    2002.0   Saloon        55000  ...        400.0        315
5         Blue    2002.0   Saloon        55000  ...        450.0        315
11      Silver    2002.0   Saloon        52000  ...        450.0        315
13        Blue    2002.0   Saloon        58000  ...        450.0        315
...        ...       ...      ...          ...  ...          ...        ...
268245    Grey    2008.0   Estate       140000  ...        136.0        195
268246    Blue    2007.0   Estate       158000  ...        180.0        250
268247  Silver    2009.0   Estate        94000  ...        178.0        250
268248  Silver    2004.0   Estate       111000  ...        170.0        315
268249    Blue    2009.0   Estate       107000  ...        136.0        195

       Wheelbase  Height   Width  Length  Average_mpg  Top_speed  Seat_num  \
1         3116.0  1515.0  2125.0  5390.0     13.7 mpg    179 mph       5.0
2         3116.0  1515.0  2125.0  5390.0     14.7 mpg    155 mph       5.0
5         3116.0  1515.0  2125.0  5390.0     13.7 mpg    179 mph       5.0
11        3116.0  1515.0  2125.0  5390.0     13.7 mpg    179 mph       5.0
13        3116.0  1515.0  2125.0  5390.0     13.7 mpg    179 mph       5.0
...          ...     ...     ...     ...          ...        ...       ...
268245    2640.0  1457.0  1770.0  4522.0     48.7 mpg    127 mph       5.0
268246    2640.0  1457.0  1770.0  4522.0     40.4 mpg    137 mph       5.0
268247    2640.0  1457.0  1770.0  4522.0     40.4 mpg    137 mph       5.0
268248    2640.0  1452.0  1770.0  4514.0     31.0 mpg    134 mph       5.0
268249    2640.0  1452.0  1770.0  4514.0     49.6 mpg    130 mph       5.0

        Door_num
1            4.0
2            4.0
5            4.0
11           4.0
13           4.0
...          ...
268245       5.0
268246       5.0
268247       5.0
268248       5.0
268249       5.0

[188182 rows x 24 columns]

In [14]:
#Listing the number of entries by automaker in basic data and the adex entries
print(cleaned_data_basic['Automaker'].value_counts())

BMW              50
Audi             48
Toyota           45
Peugeot          43
Nissan           41
                 ..
Messerschmitt     1
Pagani            1
Pilgrim           1
Radical           1
Alpine            1
Name: Automaker, Length: 101, dtype: int64

In [15]:
print(cleaned_adex['Maker'].value_counts())

Ford                          18262
Vauxhall                      15161
Audi                          13029
Volkswagen                    12688
BMW                            9605
Peugeot                        8800
Nissan                         8458
Citroen                        6957
Toyota                         6840
Kia                            6831
Land Rover                     6683
Mercedes-Benz                  6474
Volvo                          6285
Jaguar                         6284
Renault                        6138
Fiat                           5349
SKODA                          5275
Hyundai                        5244
Honda                          4304
Mazda                          4137
Porsche                        3205
SEAT                           2637
Lexus                          2496
Suzuki                         2448
MINI                           2384
Mitsubishi                     1723
Dacia                          1162
Subaru                         1137
Jeep                           1087
Alfa Romeo                      918
Saab                            752
Smart                           655
Ssangyong                       641
DS                              555
MG                              536
Chevrolet                       497
Bentley                         344
Chrysler                        342
Ferrari                         299
Infiniti                        277
Maserati                        255
Abarth                          238
Rover                           140
Lamborghini                     120
Isuzu                           110
Dodge                            96
Daihatsu                         78
McLaren                          67
Aston Martin                     64
Rolls-Royce                      46
Lotus                            20
Proton                           20
Daewoo                           19
Morgan                            4
Maybach                           3
London Taxis International        1
Hummer                            1
Perodua                           1
Name: Maker, dtype: int64

Based off of this data, we see that the brands with the most models are not the brands with the highest number of cars sold.

In [25]:
cleaned_price.groupby(['Genmodel'])['Entry_price'].mean()

Genmodel
'Cee''d'        12812.916667
'Pro_Cee''d'    13526.153846
1 Series        17766.437500
1007            10887.800000
106              6496.666667
                    ...
iOn             25407.111111
iQ              10398.142857
ix20            13092.727273
ix35            16610.000000
up!              8450.000000
Name: Entry_price, Length: 632, dtype: float64