In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
os.getcwd()

'/Users/amandarichards25/Documents/GitHub/Auto_project'

Creating dataframes for the tables within the project- AD and AD (Extra) have the same information provided and AD (Extra) will be used in this project. 
Basic Table 
Sales
Trim 
Price
Ad*
Ad (Extra)

In [14]:
data_basic = pd.read_csv("/Users/amandarichards25/Documents/GitHub/Auto_project/tables_V2/Basic_table.csv")
data_basic.head()
data_basic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1011 entries, 0 to 1010
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Automaker     1011 non-null   object
 1   Automaker_ID  1011 non-null   int64
 2   Genmodel      1011 non-null   object
 3   Genmodel_ID   1011 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.7+ KB

In [15]:
sales = pd.read_csv("/Users/amandarichards25/Documents/GitHub/Auto_project/tables_V2/Sales_table.csv")
sales.head()
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 773 entries, 0 to 772
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Maker        773 non-null    object
 1   Genmodel     773 non-null    object
 2   Genmodel_ID  773 non-null    object
 3   2020         773 non-null    int64
 4   2019         773 non-null    int64
 5   2018         773 non-null    int64
 6   2017         773 non-null    int64
 7   2016         773 non-null    int64
 8   2015         773 non-null    int64
 9   2014         773 non-null    int64
 10  2013         773 non-null    int64
 11  2012         773 non-null    int64
 12  2011         773 non-null    int64
 13  2010         773 non-null    int64
 14  2009         773 non-null    int64
 15  2008         773 non-null    int64
 16  2007         773 non-null    int64
 17  2006         773 non-null    int64
 18  2005         773 non-null    int64
 19  2004         773 non-null    int64
 20  2003         773 non-null    int64
 21  2002         773 non-null    int64
 22  2001         773 non-null    int64
dtypes: int64(20), object(3)
memory usage: 139.0+ KB

In [16]:
trim = pd.read_csv("/Users/amandarichards25/Documents/GitHub/Auto_project/tables_V2/Sales_table.csv")
trim.head()
trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 773 entries, 0 to 772
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Maker        773 non-null    object
 1   Genmodel     773 non-null    object
 2   Genmodel_ID  773 non-null    object
 3   2020         773 non-null    int64
 4   2019         773 non-null    int64
 5   2018         773 non-null    int64
 6   2017         773 non-null    int64
 7   2016         773 non-null    int64
 8   2015         773 non-null    int64
 9   2014         773 non-null    int64
 10  2013         773 non-null    int64
 11  2012         773 non-null    int64
 12  2011         773 non-null    int64
 13  2010         773 non-null    int64
 14  2009         773 non-null    int64
 15  2008         773 non-null    int64
 16  2007         773 non-null    int64
 17  2006         773 non-null    int64
 18  2005         773 non-null    int64
 19  2004         773 non-null    int64
 20  2003         773 non-null    int64
 21  2002         773 non-null    int64
 22  2001         773 non-null    int64
dtypes: int64(20), object(3)
memory usage: 139.0+ KB

In [23]:
price = pd.read_csv("/Users/amandarichards25/Documents/GitHub/Auto_project/tables_V2/Price_table.csv")
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6333 entries, 0 to 6332
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Maker        6333 non-null   object
 1   Genmodel     6333 non-null   object
 2   Genmodel_ID  6333 non-null   object
 3   Year         6333 non-null   int64
 4   Entry_price  6333 non-null   int64
dtypes: int64(2), object(3)
memory usage: 247.5+ KB

In [20]:
adex = pd.read_csv("/Users/amandarichards25/Documents/GitHub/Auto_project/tables_V2/Ad_table (extra).csv")
adex.head()

,Maker,Genmodel,Genmodel_ID,Adv_ID,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,...,Engine_power,Annual_Tax,Wheelbase,Height,Width,Length,Average_mpg,Top_speed,Seat_num,Door_num
0,Bentley,Arnage,10_1,10_1$$1,2018,4,Silver,2000.0,Saloon,60000,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
1,Bentley,Arnage,10_1,10_1$$2,2018,6,Grey,2002.0,Saloon,44000,...,450.0,315,3116.0,1515.0,2125.0,5390.0,13.7 mpg,179 mph,5.0,4.0
2,Bentley,Arnage,10_1,10_1$$3,2017,11,Blue,2002.0,Saloon,55000,...,400.0,315,3116.0,1515.0,2125.0,5390.0,14.7 mpg,155 mph,5.0,4.0
3,Bentley,Arnage,10_1,10_1$$4,2018,4,Green,2003.0,Saloon,14000,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
4,Bentley,Arnage,10_1,10_1$$5,2017,11,Grey,2003.0,Saloon,61652,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0

In [22]:
adex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268255 entries, 0 to 268254
Data columns (total 24 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Maker         268255 non-null  object
 1    Genmodel     268255 non-null  object
 2    Genmodel_ID  268255 non-null  object
 3   Adv_ID        268255 non-null  object
 4   Adv_year      268255 non-null  int64
 5   Adv_month     268255 non-null  int64
 6   Color         246380 non-null  object
 7   Reg_year      268248 non-null  float64
 8   Bodytype      267301 non-null  object
 9   Runned_Miles  267200 non-null  object
 10  Engin_size    266191 non-null  object
 11  Gearbox       268088 non-null  object
 12  Fuel_type     267846 non-null  object
 13  Price         267110 non-null  float64
 14  Engine_power  236444 non-null  float64
 15  Annual_Tax    221580 non-null  object
 16  Wheelbase     240257 non-null  float64
 17  Height        240454 non-null  float64
 18  Width         240175 non-null  float64
 19  Length        240454 non-null  float64
 20  Average_mpg   226322 non-null  object
 21  Top_speed     224653 non-null  object
 22  Seat_num      261781 non-null  float64
 23  Door_num      263702 non-null  float64
dtypes: float64(9), int64(2), object(13)
memory usage: 49.1+ MB

In [25]:
adex['Maker'].nunique()
adex.describe()

,Adv_year,Adv_month,Reg_year,Price,Engine_power,Wheelbase,Height,Width,Length,Seat_num,Door_num
count,268255.000000,268255.000000,268248.000000,2.671100e+05,236444.000000,240257.000000,240454.000000,240175.000000,240454.000000,261781.000000,263702.000000
mean,2018.127778,5.626143,2012.708430,1.475626e+04,150.545834,2564.547056,1530.675081,1896.004559,4370.987129,4.904306,4.371594
std,0.747476,2.091577,4.465705,3.232091e+04,84.476285,490.002254,163.947099,150.998397,423.411068,0.877934,1.009339
min,2012.000000,1.000000,1900.000000,1.000000e+02,17.000000,0.000000,0.000000,1191.000000,0.000000,1.000000,0.000000
25%,2018.000000,4.000000,2010.000000,4.990000e+03,99.000000,2511.000000,1456.000000,1780.000000,4081.000000,5.000000,4.000000
50%,2018.000000,5.000000,2014.000000,9.299000e+03,128.000000,2640.000000,1494.000000,1884.000000,4385.000000,5.000000,5.000000
75%,2018.000000,7.000000,2016.000000,1.715000e+04,175.000000,2752.000000,1624.000000,2020.000000,4672.000000,5.000000,5.000000
max,2021.000000,33.000000,2019.000000,9.999999e+06,740.000000,5246.000000,2660.000000,2690.000000,6165.000000,17.000000,7.000000